.project__catHeading {
  border-radius: 6px;
  background: linear-gradient(90deg, #000 0%, #4e4e4e 100%);

  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search__input {
  border-radius: 50px;
  border: 1px solid #a0a0a0;
  background: #fff;
}
