@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  background: #00000020;
}

::-webkit-scrollbar-thumb {
  background-color: #00000080;
}

.pswp__img {
  object-fit: contain;
}
.ql-video {
  width: 100%;
  aspect-ratio: 16/9;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
  h1 {
    @apply text-4xl uppercase;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

img {
  @apply select-none;
}

@layer utilities {
  .container {
    @apply max-w-6xl px-3 mx-auto;
  }
  .container-fluid {
    @apply w-full px-4 mx-auto;
  }
}
.swiper-button-prev,
.swiper-button-next {
  font-weight: bolder;
}

@layer components {
  /*
  FOOTER CLASSES
  */

  .footer-link {
    @apply flex gap-2 mb-2 text-lg;
  }
}

/* Animated gallery (This design could be change) */
.sample-slider {
  /* width: 70%; */
}
.sample-slider img {
  width: 100%;
}
.sample-slider .swiper-wrapper {
  transition-timing-function: linear;
}

@media only screen and (min-width: 1536px) {
  .custom-container {
    max-width: 1536px;
    margin: 0 auto;
  }
}

.band {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.rating {
  box-shadow: 0px 0px 4px 0px #00000080;
}
.my-class {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

/* Hero section */
.hero-section {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  width: 1920px;
  height: 825px;
  background-image: url("/assets/images/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-bg {
  background-color: #ffb7031a;
}
.card-sd {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.trust-p {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}
